body{
    text-align: center;
    margin: 40px;
    background-color: darkorange;
    margin: 10px;
}
.link{
    font-family: 'Potta One', cursive;
    float: left;
    padding: 10px;
    display: inline;
    text-decoration: overline;
}
#About{
    font-family: 'Potta One', cursive;
    font-size:15px;
    background: linear-gradient(#05fc26,#05fcd3);
}
img{
  border-radius: 100px;
  width:200px;
  height:200px;
}
p{
  margin: 25px auto;
  font-size:14px;
  font-family:Arial black;
  color:#0313fc;
}
h3{
  margin: 25px auto;
  font-size:14px;
  font-family:Arial black;
  color:#be03fc;
}
h4{
font-size:23px;  
}
h5{
  font-size:11px;
  font-family:Arial;
  text-align:justify;
}
.menu{
    list-style: none;
    top: 10px;
    cursor: pointer;
    right: 30px;
    position: fixed;
    z-index: 10;
    background: #050505;
    color: aqua;
}
.link:hover{
    background-color: lightblue;
    font-size: 25px;
}
.n{
     max-width:450px; 
}
#K{
    width: 200px;
    height: 150px;
    border-radius: 100%;
}
#J{
    width: 200px;
    height: 150px;
    border-radius: 100%;
}
#Contacts iframe{
    width: 100%;
    height: 100%;
}
.contac h3{
    display: inline;
}